/* všechny elementy */
* { 
  box-sizing: border-box;
  font-family: sans-serif;
}
/* bude využit celý display */
body {margin: 0;}

div {background-color: #333;}

.navigace a {color: #ddd; text-decoration: none; display: inline-block; background-color: rgb(179 57 81)}
